apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: traefik
  namespace: flux-system
spec:
  chart:
    spec:
      chart: traefik
      reconcileStrategy: ChartVersion
      sourceRef:
        kind: HelmRepository
        name: traefik
      version: 38.0.2
  interval: 30m
  timeout: 10m
  targetNamespace: traefik-system
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  driftDetection:
    mode: enabled
  values:
    replicas: 2
    ingressClass:
      isDefaultClass: true
    ports:
      web:
        redirections:
          entryPoint:
            to: websecure
            scheme: https
            permanent: true
      websecure:
        http3:
          enabled: true
    ingressRoute:
      dashboard:
        enabled: true
        matchRule: Host(`traefik.kennyandries.com`)
        entryPoints:
          - websecure
        middlewares:
          - name: oidc
    service:
      externalIPs: ["192.168.1.3"]
      annotations:
        external-dns.alpha.kubernetes.io/hostname: traefik.kennyandries.com
    tlsStore:
      default:
        defaultCertificate:
          secretName: traefik-cert
    experimental:
      plugins:
        traefik-oidc-auth:
          moduleName: "github.com/sevensolutions/traefik-oidc-auth"
          version: "v0.16.0"
