apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: traefik-release
  namespace: flux-system
spec:
  chart:
    spec:
      chart: traefik
      reconcileStrategy: ChartVersion
      sourceRef:
        kind: HelmRepository
        name: traefik-repo
      version: 38.0.2
  interval: 1m
  install:
    createNamespace: true
  targetNamespace: traefik-system
  values:
    replicas: 2

    ports:
      web:
        redirections:
          entryPoint:
            to: websecure
            scheme: https
            permanent: true
      websecure:
        http3:
          enabled: true

    ingressRoute:
      dashboard:
        enabled: true
        matchRule: Host(`traefik.kennyandries.com`)
        entryPoints:
          - websecure
        middlewares:
          - name: oidc

    service:
      externalIPs: ["192.168.1.3"]
      annotations:
        external-dns.alpha.kubernetes.io/hostname: traefik.kennyandries.com

    tlsStore:
      default:
        defaultCertificate:
          secretName: traefik-cert

    experimental:
      plugins:
        traefik-oidc-auth:
          moduleName: "github.com/sevensolutions/traefik-oidc-auth"
          version: "v0.16.0"
