apiVersion: apps/v1
kind: Deployment
metadata:
  name: pocket-id
  namespace: pocket-id
spec:
  template:
    spec:
      containers:
        - name: pocket-id
          env:
            - name: PGID
              value: "1000"
            - name: PUID
              value: "1000"
            - name: TRUST_PROXY
              value: "true"
            - name: APP_URL
              value: https://auth.kennyandries.com
            - name: ENCRYPTION_KEY
              valueFrom:
                secretKeyRef:
                  name: pocket-id-secret
                  key: encryptionKey
